<div class="main-wrapper">
  <!--START MAIN-WRAPPER--> 

  <!-- TOP SECTION-->

  <!-- ################-->
  <!-- START TOP MENU -->
  <!-- ################-->
  <nav class="nav-top">
    <div class="navbar navbar-static-top" id="topnavbar"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner" id="navbartop">
          <div class="container"> <a class="brand" href="/"> 
              OCTOFLY</a>
            <div class="span8 pull-right top-social text-right">
              <div style="float: right;margin: -26px 10px 0;">
                <%= link_to "Home", root_path, :class=>"btn-green section-nav-goto", :style => "color: #ffffff;" %>
              </div>
              <div class="so-icon" style="float: right;margin-top: -16px;">
                <a href="#" class="fa-icon-phone"></a>
                <a href="#" class="icon-skype"></a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- ################-->
    <!-- END TOP MENU -->
    <!-- ################-->		
  </nav>
  <!-- END HEADER headertop NAV -->

  <!--TOP SECTION-->
  <br/>

  <div class="container">
    <%= render :partial => "form" %>
  </div>
</div>