
<!--START MAIN-WRAPPER--> 

<div class="main-wrapper">
  <!--START MAIN-WRAPPER--> 

  <!-- TOP SECTION-->
  <section class="headertop needhead" id="header-section">

    <!-- ################-->
    <!-- START TOP MENU -->
    <!-- ################-->
    <nav class="nav-top">
      <div class="navbar navbar-static-top" id="topnavbar"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner" id="navbartop">
          <div class="container"> <a class="brand" href="#"> 
              OCTOFLY</a>
            <div class="span8 pull-right top-social text-right">
              <div style="float: right;margin: -26px 10px 0;">
                <%= link_to "Click to pay", new_user_path, :class=>"btn-green section-nav-goto", :style => "color: #ffffff;" %>
              </div>
              <div class="so-icon" style="float: right;margin-top: -5px;">
                <a href="#" class="icon-skype"></a> octofly
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ################-->
      <!-- END TOP MENU -->
      <!-- ################-->		
    </nav>
    <!-- END HEADER headertop NAV -->


    <!-- HEADER MARKETING SLOGAN-->
    <header class="container">
      <div class="row-fluid">
        <div class="wrap-hero">
          <div class="hero-unit">
            <!--banner-->
            <div class="span9" >
              <div class="banner-text">
                <h2 class="heading01">Easy online Payments for business</h2>
                <p class="banner-txt">online payments made easy by powerful stripe and authorize.net solutions, totally secure with PCI- DSS verified and SSL encryption. Focus on your business while we focus on getting your payments secured for you.</p>


              </div>
            </div>
            <div class="span3"><%= link_to "Click to pay", new_user_path, :class=>"btn-green section-nav-goto" %></div>

            <div class="clr"></div>
          </div>	
          <div class="clr"></div>
        </div><!-- / HERO UNIT-->
        <div class="clr"></div>
      </div><!-- / HERO WRAP-->
    </header><!-- / HEADER MARKETING SLOGAN container-->

  </section>

  <!--TOP SECTION-->


  <!-- navigation start -->

  <section id="nav">
    <div class="container">
      <div class="row-fluid">
        <div id="main-nav" class="scroller-spy">
          <nav class="nav-collapse collapse" >
            <ul class="nav hidden-desktop" id="navi">
              <li><a href="#header-section" class="section-nav-goto">Home</a></li>
              <li><a href="#about-us" class="section-nav-goto">About Us</a></li>
              <li><a href="#it-services" class="section-nav-goto"><span>IT Services</span></a></li>
              <li><a href="#support-services" class="section-nav-goto">Support</a></li>
              <!--<li><a href="#our-gallery" class="section-nav-goto">Suppport Services</a></li>
              <li><a href="#our-team" class="section-nav-goto">Contact Us</a></li>-->
              <li><a href="#contact-us" class="section-nav-goto">Contact Us</a></li>
              <li><%= link_to "Click to pay", new_user_path, :class=>"section-nav-goto", :style=>"background: none repeat scroll 0 0 orange;" %></li>
            </ul>
          </nav>


        </div>

        <ul class="main-navigation">
          <li><a href="#header-section" class="section-nav-goto"><span>Home</span></a></li>
          <li><a href="#about-us" class="section-nav-goto"><span>About Us</span></a></li>
          <li><a href="#it-services" class="section-nav-goto"><span>IT Services</span></a></li>
          <li><a href="#support-services" class="section-nav-goto"><span>Support</span></a></li>
          <!--<li><a href="#our-gallery" class="section-nav-goto"><span>Support Services</span></a></li>
          <li><a href="#our-team" class="section-nav-goto"><span>Contact Us</span></a></li>-->
          <li><a href="#contact-us" class="section-nav-goto"><span>Contact Us</span></a></li>
          <li><a href="javascript:;" class="section-nav-goto" style="background: none repeat scroll 0 0 orange;"><span>Click To Pay</span></a></li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </section>

  <!-- navigation end -->

  <!-- our vision start -->

  <section id="about-us">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 text-center">
          <h3 class="text-large">About Us</h3>
          <div class="row-fluid">
            <div class="span6">
              <div class="about-box-out">
                <div class="about-box">
                  <div class="leaf-icon"><img src="/assets/leaf-large.png" /></div>
                  <div class="about-des">
                    <div class="about-title"><a href="javascript:;">Software development services using Ruby on Rails</a></div>
                    <div class="about-txt" style="text-align:justify;">We have a great team to deliver small to medium to enterprise level application built using Ruby on Rails Framework and deployed on cloud</div>
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="about-box">
                  <div class="leaf-icon"><img src="/assets/leaf-large.png" /></div>
                  <div class="about-des">
                    <div class="about-title"><a href="javascript:;">IT support services</a></div>
                    <div class="about-txt" style="text-align:justify;">We offer wide range of support services and provide complete operation support which includes supporting clients on core and non core business activities. Our services help our clients to focus on their business and save operational cost.</div>
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="about-box">
                  <div class="leaf-icon"><img src="/assets/leaf-large.png" /></div>
                  <div class="about-des">
                    <div class="about-title"><a href="javascript:;">Online payment services</a></div>
                    <div class="about-txt" style="text-align:justify;">We specialize in online payment services where a merchant can collect payments from any location around the world in 13 different currencies and do a worry free business. we follow rules and regulations set by Governments and tax structures.</div>
                  </div>
                  <div class="clr"></div>
                </div>

              </div>
            </div>
            <div class="span6">
              <div class="about-info">
                <h2>Octofly is all about IT and support services with specialized payment services</h2>
                <p align="justify">We are 7 year old IT and support services firm operating in the areas of custom web development and support services. we specialize in merchant payment solutions via stripe and authorize.net payment processors. we make very easy for Indian and international merchants to sell around the globe while we take care of the payment solutions for them and make sure their money reaches them in minimum expected time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- our vision end -->


  <!-- Support Services start -->
  <section id="support-services">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 text-center">
          <h3 class="text-large">Support Services</h3>
          <div class="blog-outer">
            <div class="pos-rel">
              <div class="light-box-out modal hide fade" id="account-finance">
                <div class="blog-image">
                  <img src="/assets/accounts.jpg" />
                  <div class="date-stamp"><a href="#" class="support-service">Click To Pay</a></div>
                </div>
                <h2 class="dtls-title">Account and finance operations</h2>
                <p class="blog-t" style="text-align:justify;">Most of the organizations widely outsource their accounting and financial operations to support companies, in order to save both operational costs and capital expenditure.  In accounting and financial outsourcing, we promise for confidentiality, data security, risk management, governance and improved efficiency.</p>
                <span class="pull-right likes">
                  <span class="fa-icon-thumbs-up"></span> 1,245
                  <span class="fa-icon-user"></span> by Admin
                </span>
              </div>

              <div class="light-box-out modal hide fade" id="human-resource">
                <div class="blog-image">
                  <img src="/assets/hr.jpg" />
                  <div class="date-stamp"><a href="#" class="support-service">Click To Pay</a></div>
                </div>
                <h2 class="dtls-title">Human resource services</h2>
                <p class="blog-t" style="text-align:justify;">HR activities such as pay-roll administration, training and development, record keeping, performance appraisal records, human resource policy clarification etc are all people intensive activities which involve a lot of time and energy. Such activities are repetitive and routine in nature. Therefore the companies with intent to concentrate on their core activities outsource these HR activities.</p>
                <span class="pull-right likes">
                  <span class="fa-icon-thumbs-up"></span> 1,245
                  <span class="fa-icon-user"></span> by Admin
                </span>
              </div>

              <div class="light-box-out modal hide fade" id="data-processing">
                <div class="blog-image">
                  <img src="/assets/data.jpg" />
                  <div class="date-stamp"><a href="#" class="support-service">Click To Pay</a></div>
                </div>
                <h2 class="dtls-title">Data Processing Services</h2>
                <p class="blog-t" style="text-align:justify;">Data processing is a critical activity in an organization. It's a time consuming activity and needs to be accurate. So many organizations outsource their Data processing and management activity.  We offer excellent data processing and management services at affordable rates. With a team of data entry specialists, we are able to perform error-free data management services.</p>
                <span class="pull-right likes">
                  <span class="fa-icon-thumbs-up"></span> 1,245
                  <span class="fa-icon-user"></span> by Admin
                </span>
              </div>

              <div class="light-box-out modal hide fade" id="chat-mail">
                <div class="blog-image">
                  <img src="/assets/chat.jpg" />
                  <div class="date-stamp"><a href="#" class="support-service">Click To Pay</a></div>
                </div>
                <h2 class="dtls-title">Chat & Email Support Services</h2>
                <p class="blog-t" style="text-align:justify;">Responding to emails received is crucial for any business, especially these days where email has become a major communication medium. Large organizations receive loads of emails daily and responding to each one of them becomes a tedious process for them and so such companies started to outsource their Email support to support companies. we also offer live chat solutions</p>
                <span class="pull-right likes">
                  <span class="fa-icon-thumbs-up"></span> 1,245
                  <span class="fa-icon-user"></span> by Admin
                </span>
              </div>

            </div>
            <div class="row-fluid paginate" data-page-size="4">
              <div class="span3 nomargin">
                <div class="blog-part1">
                  <div class="blog-losange">

                    <div class="blog-los1">

                      <a href="javascript:void(0)" data-toggle="modal" data-target="#account-finance"><img src="/assets/b1.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="blog-des">
                  <h2>Account and finance operations</h2>
                  <p>Most of the organizations widely outsource their accounting and financial operations to support companies, in order to save both operational costs and capital...</p>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#account-finance">Read More</a>
                </div>
              </div>

              <div class="span3">
                <div class="blog-part2">
                  <div class="blog-losange">

                    <div class="blog-los1">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#human-resource"><img src="/assets/b2.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="blog-des">
                  <h2>Human resource services</h2>
                  <p>HR activities such as pay-roll administration, training and development, record keeping, performance appraisal records, human resource policy...</p>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#human-resource">Read More</a>
                </div>
              </div>

              <div class="span3">
                <div class="blog-part3">
                  <div class="blog-losange">

                    <div class="blog-los1">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#data-processing"><img src="/assets/b3.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="blog-des">
                  <h2>Data Processing Services</h2>
                  <p>Data processing is a critical activity in an organization. It's a time consuming activity and needs to be accurate. So many organizations outsource their Data processing and management...</p>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#data-processing">Read More</a>
                </div>
              </div>
              <div class="span3">
                <div class="blog-part4">
                  <div class="blog-losange">

                    <div class="blog-los1">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#chat-mail"><img src="/assets/b4.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="blog-des">
                  <h2>Chat & Email Support Services</h2>
                  <p>Responding to emails received is crucial for any business, especially these days where email has become a major communication medium. Large organizations receive loads of emails...</p>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#chat-mail">Read More</a>
                </div>
              </div>

            </div>
            <!--<div class="span12 nomargin">
              <div class="custom-pagination">
                <ul class="pager">
                </ul>
                <div class="clr"></div>
              </div>
            </div>-->
            <div class="clearfix">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Support Services end -->

  <!-- IT Services start -->
  <section id="it-services">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 text-center">
          <h3 class="text-large">IT Services</h3>
          <div class="mission-outer">
            <div class="row-fluid">
              <div class="span4">
                <div class="part1">
                  <div class="losange">

                    <div class="los1">

                      <a href="javascript:;" title="Design & Development"><img src="/assets/design.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="mission-des">
                  <h2>Design & Development</h2>
                  <p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS</p></div>
              </div>
              <div class="span4">
                <div class="part2">
                  <div class="losange">

                    <div class="los1">
                      <a href="javascript:;" title="Public Cloud Services"><img src="/assets/cloud.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="mission-des">
                  <h2>Public Cloud Services</h2>
                  <p>Our cloud master chefs can help you with any issues and solutions related to public and Private cloud</p></div>
              </div>
              <div class="span4">
                <div class="part3">
                  <div class="losange">

                    <div class="los1">
                      <a href="javascript:;"  title="Consultancy Services"><img src="/assets/consultancy.jpg" /></a>
                    </div>
                  </div>
                </div>
                <div class="mission-des">
                  <h2>Consultancy Services</h2>
                  <p>Our expert team is highly qualified to provide reasonable and practical solution to any problem.</p></div>
              </div>

              <div class="clr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- IT Services end -->

  <!-- FOOTER CONTACT -->
  <footer class="footer" id="contact-us">
    <section id="contact-section" class="arrow_box">
      <div class="container">
        <div class="row-fluid">
          <!-- CONTAC HEADER-->
          <div class="">
            <div id="foot-head">
              <div class="span12 text-center">
                <h3 class="text-large">Contact Us</h3>

              </div>
            </div>	
          </div>
        </div>
        <!--/ CONTAC HEADER-->
        <div class="contact-out">
          <div class="row-fluid">
            <div class="span6">
              <div class="add-info">
                <p><span class="fa-icon-home"></span></p>
                <p><span class="fa-icon-phone"></span></p>
                <p><span class="fa-icon-envelope"></span></p>
                <p><span class="fa-icon-globe"></span></p>
                <p><img src="/assets/skype-black.png"></p>
              </div>
            </div>
            <div class="span6" id="contact_form">
              <%= render :partial => "contact_form" %>
            </div>
          </div><!-- / ROW-->
        </div>
      </div>

    </section>
    <!--<section id="foot-map">


      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d53298.208814937934!2d-111.8273543!3d33.3935624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba7c2c0c592c1%3A0xd10fc215694e771b!2sMesa%2C+AZ!5e0!3m2!1sen!2sin!4v1401541081852"></iframe>



    </section>-->
    <section id="com-name">
      <div class="up-arrow"><img src="/assets/up-arrow.png" /></div>
      &copy; 2014 <b>Octofly</b>
    </section>
  </footer>

  <!-- END: FOOTER -->
</div>




<script type="text/javascript">
  jQuery(document).ready(function() {
    "use strict";
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    jQuery('#header-section').parallax("50%", 0.1);
  })
</script>

<script>
  jQuery('#header-section').bind('inview', function(event, visible) {
    "use strict";
    if (visible == true) {
      jQuery('.gobottom').addClass("active");
      jQuery('.hero-unit h1 span').addClass("active");

    } else {
      jQuery('.gobottom').removeClass("active");
      jQuery('.hero-unit h1 span').removeClass("active");


    }
  });

</script>


<script>
  var hero = jQuery('#header-section .hero-unit');
  jQuery(window).scroll(function() {
    "use strict";
    if (jQuery(this).scrollTop() > 1153) {
      hero.addClass("hide");
    } else {
      hero.removeClass("hide");
    }
  });
</script>

<script>
  var navbar = jQuery('#navbartop');
  var navbartop = jQuery('#topnavbar');
  var socialshare = jQuery('#social_share_left')
  jQuery(window).scroll(function() {
    "use strict";
    if (jQuery(this).scrollTop() > 640) {

      navbar.addClass("navbar-scroll");
      navbartop.removeClass("navbar-static-top");
      navbartop.addClass("navbar-fixed-top");
      socialshare.fadeIn('slow');

    } else {
      navbar.removeClass("navbar-scroll");
      navbartop.removeClass("navbar-fixed-top");
      navbartop.addClass("navbar-static-top");
      socialshare.fadeOut('slow');
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.up-arrow').click(function() {
      "use strict";
      $(document).scrollTo(0, 1800, {queue: true});
    });
    $('.section-nav-goto').click(function() {
      "use strict";
      $(document).scrollTo($(this).attr('href'), 1800, {queue: true});
    });

    $("a[class^='gallery']").prettyPhoto({
      show_title: false,
    });

  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.up-arrow').click(function() {
      "use strict";
      $(document).scrollTo(0, 1800, {queue: true});
    });
    $('.section-nav-goto').click(function() {
      "use strict";
      $(document).scrollTo($(this).attr('href'), 1800, {queue: true});
    });

    $("a[class^='zoom-icon']").prettyPhoto({
      show_title: false,
    });

  });
</script>

